<header class="bg-primary text-white text-center py-3">
  <h1>About Integral Mania</h1>
</header>

<main class="container my-5">
  <h2>About<span class="material-icons-outlined p-2 fs-4">help</span></h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Welcome to Integral Mania</h5>
      <p class="card-text">This website is dedicated to providing a comprehensive reference for single-variable calculus, with a special focus on integration techniques. Our goal is to help students, educators, and anyone interested in mathematics to deepen their understanding of integration through a variety of resources, including textbooks, online courses, and specific topics in integration.</p>
      <p class="card-text">We believe that mastering integration is crucial for solving complex mathematical problems and applying calculus in real-world scenarios. Our reference page aims to serve as a valuable tool for anyone looking to improve their skills in single-variable calculus.</p>
    </div>
  </div>
</main>
